<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NRG Login System</title>
</head>
<body>
    <h1>Welcome to NRG Login System</h1>
    <form action="/upload" method="POST">
        <input type="text" name="input_id" placeholder="Student ID">
        <button type="submit" name="button" value="login">Log In</button>
        <button type="submit" name="button" value="logout">Log Out</button>
        <button type="submit" name="button" value="logoutall">Log All Users Out (for leadership only)</button>
    </form>
    <p>{{ message }}</p>
    <img src={{ last_login }}></img>
</body>
</html>